:root{
    --background: black;
    --yellow: #edb118;
}

.section-diferenciais {
    padding: 80px 20px;
    background-color: var(--background);
    color: white; 
    min-height: 100vh;  
    display: flex;
    align-items: center;
}

.diferenciais-container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: start;
}

.diferenciais-esquerda h2 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
    color: black;
    text-shadow: 
        1.5px 1.5px 0 var(--yellow), 
        1.5px -1.5px 0 var(--yellow), 
        -1.5px 1.5px 0 var(--yellow), 
        -1.5px -1.5px 0 var(--yellow),
        0 0 10px var(--yellow), 
        0 0 20px var(--yellow);
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-diferenciais {
    width: 100%;
    background: rgba(10, 10, 10, 1);
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.card-diferenciais h3 {
    color: var(--yellow);
    font-size: 28px;
    margin-bottom: 10px;
}

.card-diferenciais p {
    color: #ccc;
    margin: 0;
    line-height: 1.5;
    font-size: 20px;
}

.container-profs {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 230px));
    justify-content: center;
    gap: 40px;
    margin-top: 85px;
}

.card-profs img {
    width: 100%;
    max-width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 
        1.5px 1.5px 0 var(--yellow), 
        1.5px -1.5px 0 var(--yellow), 
        -1.5px 1.5px 0 var(--yellow), 
        -1.5px -1.5px 0 var(--yellow),
        0 0 10px var(--yellow), 
        0 0 20px var(--yellow);
}

